extends layout

block content
    .container
        div.hero-unit

            #### Upload your flightlog
            form(method='post', enctype='multipart/form-data', action='/upload')
                input(type='file', name='flightlog')
                input(type='submit')
